<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ShareAll</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap4.4/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome-free-5.15.2-web/css/all.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <noscript>Please, Enable Javascript</noscript>
    <div id="app">
        <div class="container">
            <div style="margin-bottom: 30px;">[[current_dir]]</div>

            <div class="media_element" @click="updateUI">
                <div style="pointer-events: none;">
                    <a :href="parent_dir_url" >
                        <div><i class="fas fa-folder"></i></div>
                        <div class="text">Parent Dir</div>
                    </a>
                </div>
            </div>

            <div class="media_container">
                    <div class="media_element" v-for="m in media" @click="updateUI">
                        <div style="pointer-events: none;">
                            <a class="link" :href="m.url">
                                <div>
                                    <div v-if="m.is_dir === true">
                                        <i class="fas fa-folder"></i>
                                    </div>
                                    <div v-else>
                                        <i :class="m.extension_icon"></i>
                                    </div>
                                    <div>
                                        <div class="text">[[ m.filename ]]</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
             </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='vue.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',

            data: {
                current_dir: "",
                media: [],
                parent_dir: "",
                parent_dir_url: ""
            },

            delimiters: ['[[', ']]'],

            methods: {
                requestFolders: function(url) {
                console.log(`Ajax Call to url ${url}`)
                $.ajax({
                    dataType: 'json',
                    url: url,
                    data: {'ajax': true},
                    success: function (res) {
                        app.current_dir = res.current_dir
                        app.media = res.media
                        app.parent_dir = res.parent_dir
                        app.parent_dir_url = res.parent_dir_url
                    }
                })
            },
                updateUI: function (e) {
                    let is_folder = e.target.querySelector('i.fa-folder')
                    let url = e.target.querySelector('a').href

                    if (is_folder) {
                        e.preventDefault()
                        this.requestFolders(url)
                    } else {
                        window.open(url)
                    }

                },

            },

            created: function () {
                this.requestFolders(window.location)
            }

        })
    </script>
</body>
</html>
