<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ShareAll</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap4.4/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome-free-5.15.2-web/css/all.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='qr_code.png') }}">
    <div><a href="/">Go to Home</a></div>
</body>
</html>
