<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ShareAll</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap4.4/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome-free-5.15.2-web/css/all.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <div class="container">
        <h1>How to Share Files?</h1>
        <p>Visit {{ request.host }} on your smartphone. Needs to be on the same wifi<p>
        <img src="{{ url_for('static', filename='qr_code.png') }}">
    </div>
</body>
</html>
